:root {
    --background: #f5f5f5;
    --text-color: #333;
    --accent1: #cdaa7d;
    --accent2: #ffd700;
    --accent3: #8be9fd;
    --accent4: #50fa7b;
    --accent5: #ffb86c;
    --accent6: #ff79c6;
    --accent7: #bd93f9;
    --neutralA: #44475a;
    --neutralB: #6272a4;
  }

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: var(--background);
}

#nav_bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: fit-content;
    background-color: var(--neutralB);   
    opacity: 80%;      
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    position: sticky;
}
#brand{
    display: flex;
    flex-direction: row;
    width: auto;
    align-items: center;  
    
}
#logo{
    height: 40px;    
    border-radius: 5px;
}
#logo_name{
    margin-left: 5px;
    color: var(--text_color);
}
#menus{
    color: var(--text_color);
    text-align: center;    
}
#carts, #account_menu, #search_icon{
    font-size: 25px;
    background-color: var(--neutralA);
    width: 75px;
    margin: 3px;
    padding: 7px;
    border-radius: 5px;
    border: 3px solid var(--text_color);
}

#content{
    margin: 20px;
}

#banner{
    background-color: var(--accent1);
    height: 300px;    
    border-radius: 5px;
}